* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

body {
    max-width: 70%;
    margin: auto;
    background-color: #fffffe;
    font-family: 'Fredoka', sans-serif;
    
}

header {
    text-align: center;
    margin: 10vh 0;
}

h1 {
    margin-bottom: 10vh;
    color: #e52a6a;
    font-family: 'Fredoka One', cursive;
}

.card {
    width: calc((100% - 6em) / 3);
    float: left;
    background-color: #0f0e17;
    margin: 1em;
    box-shadow: 0px 0px 5px 2px rgb(0 0 0 / 80%);
}

.card-photo {
    height: 100px;
    float: left;
}

.card-text {
    float: left;
    color: #fffffe;
    padding: 1rem;
    font-size: 0.8em;
}
.card-text > h2 {
    font-family: 'Fredoka One', cursive;
    font-weight: 500;
    padding: 0 0 0.2rem;
}

.card-text > h3 {
    padding: 0 0 0.2rem;
}
.card-text > p {
    color: #59b9c6;
}

:link {
    text-decoration: none;
    color: inherit;
}

.container::after {
    content: "";
    display: table;
    clear: both;
}